<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Detalhes</h1>
        <div> Nome: <%- detail[0][0] %> </div>
        <div> Altura: <%- detail[0][1] %> Cm</div>
        <div> Peso: <%- detail[0][2] %> Kg</div>
        <div> Cabelo: <%- detail[0][3] %> </div>
        <div> Pele: <%- detail[0][4] %> </div>
        <div> Olhos: <%- detail[0][5] %> </div>
        <div> Nascimento: <%- detail[0][6] %> </div>
       
    </h2>
</body>

</html>